.wishl {
    opacity:0;
    background-color: #d3e1ed;
    border: 0.5px solid gray;
    border-radius: 4px;
    width: 30%;
    position: absolute;
    left: 0px;
    transition: 0.2s ease-in-out;
}

.wishl2 {
    display: block;
    opacity:1;
    background-color: #d3e1ed;
    border: 0.5px solid gray;
    border-radius: 4px;
    left: 0;
    width: 100%;
    transition: 0.2s opacity ease-in-out;
}

.wishlist-title {
    font-size: 1.3vw;
    padding: 1%;
}